<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<!doctype html>
<html lang="en">

<head>

    <link href="/public/assets/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link href="/public/assets/style.css" rel="stylesheet" />

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Fonts -->
    <link rel="dns-prefetch" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css?family=Inconsolata&display=swap" rel="stylesheet" type="text/css">
    <link rel="icon" href="Favicon.png">

</head>



<body>
    <nav style="background-color: transparent" class="navbar navbar-expand-lg navbar-light navbar-laravel">
        <div class="container">
            <a class="navbar-brand" href="#"><img src="https://i.imgur.com/0lrUa15.png" /></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a style="color: white" class="nav-link" href="..">Login</a>
                    </li>
                </ul>

            </div>
        </div>
    </nav>

    <main name="register-form" class="register-form">
        <div class="cotainer">
            <div class="row justify-content-center">
                <div class="col-md-8">
                    <div style="background-color: rgba(0, 0, 0, 0.6); width:60%; margin-left: auto; margin-right: auto; margin-bottom: auto; margin-top: 60px; border-bottom-left-radius: 80px; border-top-right-radius: 80px"
                        class="card">
                        <div style="color: white; font-weight: bold;" class="card-header">Enter your user credentials
                        </div>
                        <script type="text/javascript">
                            function checkPassword() {
                                if (document.getElementById('password').value !=
                                    document.getElementById('confirm_password').value) {
                                    alert("Passwords not matching!")
                                }
                            }
                        </script>
                        <div class="card-body">
                            <form action="/" method="post">
                                <div class="form-group row">
                                    <label for="username" class="col-md-4 col-form-label text-md-right">Username</label>
                                    <div class="col-md-6">
                                        <input type="text" id="username" class="form-control" name="username" required
                                            autofocus>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label for="password" class="col-md-4 col-form-label text-md-right">Password</label>
                                    <div class="col-md-6">
                                        <input type="password" id="password" class="form-control" name="password"
                                            required>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label for="confirm_password" class="col-md-4 col-form-label text-md-right">Confirm
                                        Password</label>
                                    <div class="col-md-6">
                                        <input type="password" name="confirm_password" id="confirm_password"
                                            class="form-control" required />
                                    </div>
                                </div>

                                <div class="col-md-6 offset-md-4">
                                    <button type="submit" class="btn btn-primary" onclick="checkPassword();">
                                        Register
                                    </button>
                                </div>
                        </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        </div>

    </main>







</body>

</html>