<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Fonts -->
    <link rel="dns-prefetch" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,600" rel="stylesheet" type="text/css">

    <link rel="stylesheet" href="css/style.css">

    <link rel="icon" href="Favicon.png">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">

    <title>Workout</title>
</head>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">FitnessApp</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link active" href="/workout">Home <span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link" href="/workout/create">Create workout</a>
        </div>
    </div>
    <a class="nav-item nav-link" style="align-self: flex-end" href="/">Logout</a>
</nav>

<div class="container">
    <div class="row">
        <div class="white-box">
            <h3 class="box-title m-b-0">List of workouts</h3>
            <p class="text-muted m-b-30 font-13">More workouts can be created in Create workout tab</p>
            <div class="row">
                <div class="col-md-12">
                    <% Workouts.forEach(workout => { %>
                    <a href="#">
                        <%= workout.name %>
                    </a>
                    </br>

                    <% }); %>
                    <a href="workout/<%= workout.name %>" name="workout" workout=<%= workout %></a>> <%= workout.name %>
                        </a> </br> <% }); %> </div> </div> </div> </div> </div>